.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selects select {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin-bottom: 20px;
}
p {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  gap: 5px;
  margin-top: 20px;
  font-weight: 500;
}
p strong {
  font-size: 24px;
}
p span {
  color: gray;
}
